{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
   <!-- Main -->

<div class="bg-light about-section min-vh-100">
   <div class="px-3 ">
      <div  class="p-5 about-header  bg-white  rounded-1">
        <div class="text-light fs-40 shadow-2">
            О компании
        </div>
      </div>
      <div class="p-4 shadow-3  rounded-1 mt-4">
        <div class=" fs-30 b-2">
            E-Bukhara
        </div>
        <p>
            E-Bukhara — это сервис честных сделок по недвижимости. Мы предоставляем полную риелторскую и юридическую поддержку, консультируем клиентов и делаем всё, чтобы не допустить мошенничества на нашем сайте.
        </p>
        <p>
            Звоните — мы обсудим все детали, подберём лучшие варианты и предложим приехать для просмотра в любое удобное для вас время.
        </p>
      </div>
      
      
   </div>
</div>



{% endblock %}